In [143]:
import pandas as pd
import numpy as np
import gc

In [144]:
train_folder = '/Users/yeqi.bai/Desktop/All in One/Recommender System Project/Session Model/Data/paths/training set'
test_folder = '/Users/yeqi.bai/Desktop/All in One/Recommender System Project/Session Model/Data/paths/test set'
full_folder = '/Users/yeqi.bai/Desktop/All in One/Recommender System Project/Session Model/Data/paths/full data'

In [145]:
gc.collect()

0

## Part A. Demo Converting Text File into Numpy Array

In [146]:
# path_file = path_folder + '/20180624paths'

In [147]:
'''
results = []
with open(path_file) as inputfile:
    for line in inputfile:
        results.append(line.strip().split('|'))
'''

"\nresults = []\nwith open(path_file) as inputfile:\n    for line in inputfile:\n        results.append(line.strip().split('|'))\n"

In [148]:
# results

In [149]:
'''
valid_results = []
for row in results:
    if ',' in row[2]:
        valid_results.append(row)
'''

"\nvalid_results = []\nfor row in results:\n    if ',' in row[2]:\n        valid_results.append(row)\n"

In [150]:
# valid_results

As shown, among 90551 paths in file 0624, only 20706 paths got more than 1 item presented

In [151]:
'''
arr = np.array(results)
val_arr = np.array(valid_results)
arr.shape, val_arr.shape
'''

'\narr = np.array(results)\nval_arr = np.array(valid_results)\narr.shape, val_arr.shape\n'

## Part B. Process all the Path Files in Folder

In [152]:
def txt2list(txt_path):
    '''
    input:
        1. txt_path: path to the text file
    output:
        2. a list containing individual lists, each of which contains:
            userid, pathid, itemids in path
    '''
    results = []
    with open(txt_path) as inputfile:
        for line in inputfile:
            results.append(line.strip().split('|'))
            
    valid_results = []
    for row in results:
        if ',' in row[2]:
            valid_results.append(row)
            
    return valid_results

In [153]:
from os import listdir
from os.path import isfile, join
def get_paths_from_folder(folder_path):    
    return [join(folder_path, f) for f in listdir(folder_path) if isfile(join(folder_path, f))]

In [154]:
file_paths = get_paths_from_folder(train_folder)
file_paths

['/Users/yeqi.bai/Desktop/All in One/Recommender System Project/Session Model/Data/paths/training set/.DS_Store',
 '/Users/yeqi.bai/Desktop/All in One/Recommender System Project/Session Model/Data/paths/training set/20180624paths',
 '/Users/yeqi.bai/Desktop/All in One/Recommender System Project/Session Model/Data/paths/training set/20180625paths',
 '/Users/yeqi.bai/Desktop/All in One/Recommender System Project/Session Model/Data/paths/training set/20180626paths',
 '/Users/yeqi.bai/Desktop/All in One/Recommender System Project/Session Model/Data/paths/training set/20180627paths']

In [155]:
all_paths = []
for txt_path in file_paths:
    if not txt_path.endswith('.DS_Store'):
        all_paths = all_paths + txt2list(txt_path)
len(all_paths)

301510

In [156]:
arr = np.array(all_paths)
arr = arr.astype(object)
arr.shape

(301510, 3)

## Part C. Sort the Paths by Lengths

In [157]:
for j in range(len(arr)):
    arr[j][0] = int(arr[j][0])
    arr[j][1] = int(arr[j][1])
    arr[j][2] = list(arr[j][2].split(','))
    for i in range(len(arr[j][2])):
        arr[j][2][i] = int(arr[j][2][i])
        
arr

array([[113182, 2, list([1134005770, 1250913213, 861143959])],
       [125639, 7, list([702409446, 1064640040])],
       [203872, 0, list([1121720343, 1121744655, 511775377])],
       ...,
       [76298054, 10,
        list([706932246, 1182092721, 962188944, 800216295])],
       [76530139, 0, list([1214700366, 1193474742])],
       [76572166, 10, list([1106958106, 660187216])]], dtype=object)

In [158]:
arr[0]

array([113182, 2, list([1134005770, 1250913213, 861143959])], dtype=object)

In [159]:
# create a list containing the session lengths

sess_len_list = []
for i in range(arr.shape[0]):
    sess_len_list.append(len(arr[i][2]))
sess_len_arr = np.array(sess_len_list)
sess_len_arr = sess_len_arr.reshape([len(sess_len_list),1])

In [160]:
arr = np.concatenate((arr,sess_len_arr),axis = 1)
arr.shape

(301510, 4)

In [161]:
arr[0],arr[1]

(array([113182, 2, list([1134005770, 1250913213, 861143959]), 3],
       dtype=object),
 array([125639, 7, list([702409446, 1064640040]), 2], dtype=object))

#### Remarks:

Here it is necessary to note that the four columns (0-3) of the numpy array is:

0: usedid as int

1: pathid as int

2: path as np array

3: len(path) as int

In [162]:
df = pd.DataFrame(arr)
df.columns = ['userid', 'sess_id', 'sess_path', 'sess_length']

In [163]:
df = df.sort_values(by = 'sess_length')
df = df.reset_index(drop = 'True')

#### Remarks:
Here a small trouble is encountered: the pathid got duplication, but if we apply drop duplicate, disaster can happen

In [164]:
## df.drop_duplicates(subset='sess_id', keep = 'first')

In [165]:
summary = df.groupby('sess_length').count()
summary = pd.DataFrame(summary.drop(columns=['sess_id','sess_path']))
summary = summary.reset_index()
summary.columns = ['sess_length', 'count']

In [166]:
slice_table = summary
slice_table['start_index'] = slice_table['count']
slice_table['end_index'] = slice_table['count']
slice_table

    sess_length   count  start_index  end_index
0             2  202142       202142     202142
1             3   50820        50820      50820
2             4   20257        20257      20257
3             5   10362        10362      10362
4             6    5402         5402       5402
5             7    3356         3356       3356
6             8    2461         2461       2461
7             9    1718         1718       1718
8            10     990          990        990
9            11     879          879        879
10           12     523          523        523
11           13     463          463        463
12           14     292          292        292
13           15     306          306        306
14           16     263          263        263
15           17     102          102        102
16           18     107          107        107
17           19     139          139        139
18           20     100          100        100
19           21     126          126        126
20           22      55           55         55
21           23     112          112        112
22           24      28           28         28
23           25      42           42         42
24           26      32           32         32
25           27      20           20         20
26           28      20           20         20
27           29      14           14         14
28           30      13           13         13
29           31      18           18         18
..          ...     ...          ...        ...
43           45       7            7          7
44           46       7            7          7
45           47       8            8          8
46           48       9            9          9
47           49       4            4          4
48           50       2            2          2
49           51       4            4          4
50           52       4            4          4
51           53       2            2          2
52           54       2            2          2
53           55       1            1          1
54           57       1            1          1
55           58       6            6          6
56           59       2            2          2
57           60       1            1          1
58           61       4            4          4
59           62       9            9          9
60           63       3            3          3
61           65       1            1          1
62           66       1            1          1
63           67       4            4          4
64           68       1            1          1
65           69      39           39         39
66           70       2            2          2
67           71       4            4          4
68           76       1            1          1
69           78       1            1          1
70           92       2            2          2
71           93       5            5          5
72          118       1            1          1

[73 rows x 4 columns]

In [167]:
# here is the logic for create the start index + end index
for i in range(1, len(slice_table)):
    slice_table['end_index'][i] = slice_table['end_index'][i-1] + slice_table['count'][i]

for i in range(1, len(slice_table)):
    slice_table['start_index'][i] = slice_table['end_index'][i-1]

slice_table['start_index'][0] = 0

slice_table

    sess_length   count  start_index  end_index
0             2  202142            0     202142
1             3   50820       202142     252962
2             4   20257       252962     273219
3             5   10362       273219     283581
4             6    5402       283581     288983
5             7    3356       288983     292339
6             8    2461       292339     294800
7             9    1718       294800     296518
8            10     990       296518     297508
9            11     879       297508     298387
10           12     523       298387     298910
11           13     463       298910     299373
12           14     292       299373     299665
13           15     306       299665     299971
14           16     263       299971     300234
15           17     102       300234     300336
16           18     107       300336     300443
17           19     139       300443     300582
18           20     100       300582     300682
19           21     126       300682     300808
20           22      55       300808     300863
21           23     112       300863     300975
22           24      28       300975     301003
23           25      42       301003     301045
24           26      32       301045     301077
25           27      20       301077     301097
26           28      20       301097     301117
27           29      14       301117     301131
28           30      13       301131     301144
29           31      18       301144     301162
..          ...     ...          ...        ...
43           45       7       301372     301379
44           46       7       301379     301386
45           47       8       301386     301394
46           48       9       301394     301403
47           49       4       301403     301407
48           50       2       301407     301409
49           51       4       301409     301413
50           52       4       301413     301417
51           53       2       301417     301419
52           54       2       301419     301421
53           55       1       301421     301422
54           57       1       301422     301423
55           58       6       301423     301429
56           59       2       301429     301431
57           60       1       301431     301432
58           61       4       301432     301436
59           62       9       301436     301445
60           63       3       301445     301448
61           65       1       301448     301449
62           66       1       301449     301450
63           67       4       301450     301454
64           68       1       301454     301455
65           69      39       301455     301494
66           70       2       301494     301496
67           71       4       301496     301500
68           76       1       301500     301501
69           78       1       301501     301502
70           92       2       301502     301504
71           93       5       301504     301509
72          118       1       301509     301510

[73 rows x 4 columns]

#### Planning A:
Here it we can wrap the counting of each session length into a dictionary, when the training batch is randomly generated, the prob of session length to be selected should be proportion to the session length count.

Therefore, the index slicing range for each session length should be presented.

#### Planning B:
Use zero padding + bucketing Method to deal with the data: with different length: the candidate lengths will be: (2,3,4,5,6,10,20,50), sessions with longer length will be discarded

#### Another Planning:
The FM user/item embedding can actually be input into another RNN, say if the item/user embedding DNE: create random embedding.

(Then is it possible to train user/item embedding at RNN???

#### Some Dictionaries Needed:

In the set of active items (items that are presenting in the session paths), the item would have a unique id in this active set

so we need to map: itemid (given) ---> unique id in active item set ---> FM pretrained embedding

so we need to map: userid (given) ---> unique id in active user set --->

## Part D. User/Item Index Mapping

In [168]:
df

,userid,sess_id,sess_path,sess_length
0,76572166,10,"[1106958106, 660187216]",2
1,19455413,12,"[261802281, 424198553]",2
2,19554173,11,"[1007870857, 1230706098]",2
3,20126442,49,"[946698061, 1239559178]",2
4,30874521,2,"[883326940, 1130014937]",2
5,20674243,94,"[822285641, 955584854]",2
6,30754616,1,"[806507465, 739035082]",2
7,21210736,8,"[81309207, 1096857516]",2
8,22804499,24,"[698849876, 698789219]",2
9,25962147,1,"[1134163364, 1134391521]",2
10,27125788,11,"[63545601, 103014775]",2
11,28197609,38,"[898801557, 651826897]",2
12,30062672,18,"[731878401, 731864297]",2
13,31065538,10,"[1206021664, 1095966400]",2
14,31108335,2,"[692157576, 580289786]",2
15,32122140,4,"[1219625231, 1051225092]",2
16,29099218,14,"[245449597, 1161266185]",2
17,33503326,9,"[508309322, 1257643979]",2
18,34267730,3,"[1179055566, 1179017499]",2
19,34910699,13,"[1164253286, 82233338]",2
20,26887442,62,"[1101316461, 1095654852]",2
21,36200134,6,"[672846326, 191642917]",2
22,19210335,10,"[980336034, 1057339167]",2
23,19068760,5,"[844370402, 1262458552]",2
24,32899236,2,"[44858124, 1002241018]",2
25,18508795,14,"[1113845820, 1027681576]",2
26,1292786,57,"[1168749517, 1015328845]",2
27,1693027,73,"[41464154, 213918586]",2
28,3824214,0,"[204053226, 188766755]",2
29,38058746,4,"[485869827, 1021312122]",2
...,...,...,...,...
301480,46067078,69,"[1175610852, 1120618948, 1210483344, 953942738...",69
301481,46067078,108,"[1175610852, 1120618948, 1210483344, 953942738...",69
301482,46067078,67,"[1175610852, 1120618948, 1210483344, 953942738...",69
301483,46067078,109,"[1175610852, 1120618948, 1210483344, 953942738...",69
301484,46067078,68,"[1175610852, 1120618948, 1210483344, 953942738...",69
301485,46067078,96,"[1175610852, 1120618948, 1210483344, 953942738...",69
301486,46067078,77,"[1175610852, 1120618948, 1210483344, 953942738...",69
301487,46067078,97,"[1175610852, 1120618948, 1210483344, 953942738...",69
301488,46067078,86,"[1175610852, 1120618948, 1210483344, 953942738...",69
301489,46067078,105,"[1175610852, 1120618948, 1210483344, 953942738...",69
301490,46067078,95,"[1175610852, 1120618948, 1210483344, 953942738...",69
301491,46067078,111,"[1157854277, 1169413526, 1258688887, 125869352...",69
301492,46067078,66,"[1175610852, 1120618948, 1210483344, 953942738...",69
301493,46067078,81,"[1175610852, 1120618948, 1210483344, 953942738...",69
301494,46067078,88,"[1270561875, 1175610852, 1120618948, 121048334...",70
301495,46067078,89,"[404264065, 1270561875, 1175610852, 1120618948...",70
301496,46067078,91,"[404264065, 1270561875, 1175610852, 1120618948...",71
301497,46067078,93,"[1175610852, 1120618948, 1210483344, 953942738...",71
301498,46067078,90,"[404264065, 1270561875, 1175610852, 1120618948...",71
301499,46067078,92,"[404264065, 1270561875, 1175610852, 1120618948...",71
301500,19574563,88,"[826304677, 1022747470, 316497527, 264381372, ...",76
301501,19574563,90,"[1075583906, 983567892, 826304677, 1022747470,...",78
301502,19244327,95,"[600248939, 373225272, 667620876, 1068142641, ...",92
301503,19244327,90,"[600248939, 373225272, 667620876, 1068142641, ...",92
301504,19244327,73,"[600248939, 373225272, 667620876, 1068142641, ...",93
301505,19244327,84,"[600248939, 373225272, 667620876, 1068142641, ...",93
301506,19244327,91,"[600248939, 373225272, 667620876, 1068142641, ...",93
301507,19244327,81,"[600248939, 373225272, 667620876, 1068142641, ...",93
301508,19244327,92,"[600248939, 373225272, 667620876, 1068142641, ...",93
301509,1347048,19,"[718985107, 33360570, 60329454, 615063624, 237...",118

In [169]:
# return the slicings, which will be used to separate different length of sequences
arr = df.values

In [170]:
arr.shape

(301510, 4)

In [171]:
type(df['sess_path'][1][1])

int

In [172]:
df.head()

     userid sess_id                 sess_path sess_length
0  76572166      10   [1106958106, 660187216]           2
1  19455413      12    [261802281, 424198553]           2
2  19554173      11  [1007870857, 1230706098]           2
3  20126442      49   [946698061, 1239559178]           2
4  30874521       2   [883326940, 1130014937]           2

In [174]:
import time

In [175]:
print(time.ctime())
'''
# now we gonna count the active users and active items
userid_list = []
itemid_list = []
for i in range(arr.shape[0]):
    userid_list.append(arr[i][0])
    itemid_list = itemid_list + arr[i][2]
    
userid_set = set(userid_list)
itemid_set = set(itemid_list)

print('Total amount of user presented before and after dropping duplication:')
print(len(userid_list), len(userid_set))
print('Total amount of item presented before and after dropping duplication:')
print(len(itemid_list), len(itemid_set))
'''
print(time.ctime())

Mon Jul  9 13:58:02 2018
Mon Jul  9 13:58:02 2018

In [176]:
'''
userid_df = pd.DataFrame([0]+list(userid_set))
itemid_df = pd.DataFrame([0]+list(itemid_set))
userid_df.columns = ['userid']
itemid_df.columns = ['itemid']
userid_df['userid'] = pd.to_numeric(userid_df['userid'])
itemid_df['itemid'] = pd.to_numeric(itemid_df['itemid'])

userid_df = userid_df.sort_values(by = 'userid').reset_index(drop=True)
itemid_df = itemid_df.sort_values(by = 'itemid').reset_index(drop=True)

'''

"\nuserid_df = pd.DataFrame([0]+list(userid_set))\nitemid_df = pd.DataFrame([0]+list(itemid_set))\nuserid_df.columns = ['userid']\nitemid_df.columns = ['itemid']\nuserid_df['userid'] = pd.to_numeric(userid_df['userid'])\nitemid_df['itemid'] = pd.to_numeric(itemid_df['itemid'])\n\nuserid_df = userid_df.sort_values(by = 'userid').reset_index(drop=True)\nitemid_df = itemid_df.sort_values(by = 'itemid').reset_index(drop=True)\n\n"

In [177]:
pro_data_fold = '/Users/yeqi.bai/Desktop/All in One/Recommender System Project/Session Model/Processed Data'

In [178]:
userid_df = pd.read_csv(pro_data_fold + '/userid_map.csv')
itemid_df = pd.read_csv(pro_data_fold + '/itemid_map.csv')

In [179]:
# below is the dictionary for mapping item/user ids in shopee db into model based id

userid_dict = dict([(userid_df['userid'][i], i) for i in range(len(userid_df))])
itemid_dict = dict([(itemid_df['itemid'][i], i) for i in range(len(itemid_df))])

In [180]:
userid_dict

{0: 0,
 10002: 1,
 10026: 2,
 10028: 3,
 10050: 4,
 10057: 5,
 10058: 6,
 10095: 7,
 10107: 8,
 10108: 9,
 10116: 10,
 10124: 11,
 10147: 12,
 10155: 13,
 10159: 14,
 10174: 15,
 10214: 16,
 10268: 17,
 10287: 18,
 10290: 19,
 10295: 20,
 10308: 21,
 10310: 22,
 10359: 23,
 10360: 24,
 10370: 25,
 10378: 26,
 10388: 27,
 10394: 28,
 10398: 29,
 10420: 30,
 10461: 31,
 10484: 32,
 10509: 33,
 10520: 34,
 10523: 35,
 10530: 36,
 10536: 37,
 10556: 38,
 10563: 39,
 11117: 40,
 11122: 41,
 11171: 42,
 11271: 43,
 11285: 44,
 11304: 45,
 11351: 46,
 11355: 47,
 11358: 48,
 11405: 49,
 11465: 50,
 11570: 51,
 11671: 52,
 11702: 53,
 11714: 54,
 11733: 55,
 11918: 56,
 11921: 57,
 12520: 58,
 12521: 59,
 12571: 60,
 12584: 61,
 12597: 62,
 12672: 63,
 12695: 64,
 12713: 65,
 12763: 66,
 12801: 67,
 12805: 68,
 12816: 69,
 13140: 70,
 13214: 71,
 13253: 72,
 13277: 73,
 13313: 74,
 13870: 75,
 13960: 76,
 14061: 77,
 14062: 78,
 14125: 79,
 14683: 80,
 14710: 81,
 14750: 82,
 14869: 83,
 14930: 84,
 14947: 85,
 14962: 86,
 15041: 87,
 15226: 88,
 15252: 89,
 15624: 90,
 15626: 91,
 15677: 92,
 15730: 93,
 15804: 94,
 15975: 95,
 16226: 96,
 16368: 97,
 16393: 98,
 16410: 99,
 16415: 100,
 16531: 101,
 16586: 102,
 16650: 103,
 16666: 104,
 16673: 105,
 16892: 106,
 17147: 107,
 17315: 108,
 17532: 109,
 17696: 110,
 17851: 111,
 18132: 112,
 18326: 113,
 18359: 114,
 18360: 115,
 18397: 116,
 18407: 117,
 18791: 118,
 18793: 119,
 18961: 120,
 19014: 121,
 19015: 122,
 19071: 123,
 19095: 124,
 19190: 125,
 19206: 126,
 19216: 127,
 19288: 128,
 19302: 129,
 19355: 130,
 19368: 131,
 19428: 132,
 19482: 133,
 19562: 134,
 19609: 135,
 19623: 136,
 19666: 137,
 19669: 138,
 19739: 139,
 19782: 140,
 19881: 141,
 19901: 142,
 19931: 143,
 20088: 144,
 20162: 145,
 20210: 146,
 20533: 147,
 20545: 148,
 20659: 149,
 20667: 150,
 20845: 151,
 20929: 152,
 21010: 153,
 21399: 154,
 21421: 155,
 21470: 156,
 21525: 157,
 21572: 158,
 21758: 159,
 21799: 160,
 21815: 161,
 22098: 162,
 22184: 163,
 22284: 164,
 22395: 165,
 22629: 166,
 22645: 167,
 22652: 168,
 22666: 169,
 22721: 170,
 22945: 171,
 22979: 172,
 23056: 173,
 23196: 174,
 23251: 175,
 23571: 176,
 23743: 177,
 24078: 178,
 24526: 179,
 24549: 180,
 25553: 181,
 26574: 182,
 26661: 183,
 26682: 184,
 26763: 185,
 26803: 186,
 26950: 187,
 27174: 188,
 27198: 189,
 27201: 190,
 27256: 191,
 27595: 192,
 27635: 193,
 27649: 194,
 27666: 195,
 27837: 196,
 27907: 197,
 28421: 198,
 28555: 199,
 28755: 200,
 28796: 201,
 28811: 202,
 29258: 203,
 29583: 204,
 29672: 205,
 29685: 206,
 29774: 207,
 29829: 208,
 30093: 209,
 30135: 210,
 30354: 211,
 30360: 212,
 30727: 213,
 30826: 214,
 30920: 215,
 31421: 216,
 31670: 217,
 31915: 218,
 32028: 219,
 32672: 220,
 33173: 221,
 33203: 222,
 33434: 223,
 33896: 224,
 34931: 225,
 35575: 226,
 35733: 227,
 36174: 228,
 36283: 229,
 36437: 230,
 36698: 231,
 36843: 232,
 38081: 233,
 38222: 234,
 38259: 235,
 38426: 236,
 39301: 237,
 39509: 238,
 39605: 239,
 39802: 240,
 40095: 241,
 40292: 242,
 40475: 243,
 40851: 244,
 40966: 245,
 41118: 246,
 41191: 247,
 41933: 248,
 42240: 249,
 42406: 250,
 42474: 251,
 42818: 252,
 43419: 253,
 43561: 254,
 43623: 255,
 44450: 256,
 44583: 257,
 44599: 258,
 45365: 259,
 45383: 260,
 45436: 261,
 45584: 262,
 45794: 263,
 46093: 264,
 46387: 265,
 46434: 266,
 46530: 267,
 46553: 268,
 46591: 269,
 46903: 270,
 47115: 271,
 47176: 272,
 47398: 273,
 47620: 274,
 47872: 275,
 48282: 276,
 48356: 277,
 49180: 278,
 49683: 279,
 49728: 280,
 49742: 281,
 49935: 282,
 50037: 283,
 50142: 284,
 50686: 285,
 50805: 286,
 51133: 287,
 51520: 288,
 52088: 289,
 52204: 290,
 52217: 291,
 52535: 292,
 52710: 293,
 53246: 294,
 53796: 295,
 53819: 296,
 53922: 297,
 54113: 298,
 54630: 299,
 54823: 300,
 55877: 301,
 55882: 302,
 56418: 303,
 56976: 304,
 57342: 305,
 57376: 306,
 59065: 307,
 59176: 308,
 59264: 309,
 59285: 310,
 59437: 311,
 61253: 312,
 62001: 313,
 62047: 314,
 63028: 315,
 63087: 316,
 63371: 317,
 64170: 318,
 64329: 319,
 64666: 320,
 65613: 321,
 66099: 322,
 66285: 323,
 68142: 324,
 68258: 325,
 68665: 326,
 68751: 327,
 68767: 328,
 68806: 329,
 68866: 330,
 68869: 331,
 68884: 332,
 68962: 333,
 68964: 334,
 69069: 335,
 69159: 336,
 69187: 337,
 69197: 338,
 69313: 339,
 69365: 340,
 69473: 341,
 69487: 342,
 69494: 343,
 69667: 344,
 69975: 345,
 70002: 346,
 70029: 347,
 70039: 348,
 70068: 349,
 70076: 350,
 70082: 351,
 70117: 352,
 70119: 353,
 70167: 354,
 70185: 355,
 70187: 356,
 70527: 357,
 70530: 358,
 70568: 359,
 70635: 360,
 70813: 361,
 70962: 362,
 70976: 363,
 71141: 364,
 71170: 365,
 71335: 366,
 71410: 367,
 71666: 368,
 71735: 369,
 72243: 370,
 72414: 371,
 72474: 372,
 72578: 373,
 72618: 374,
 72731: 375,
 72873: 376,
 72963: 377,
 73256: 378,
 73346: 379,
 73488: 380,
 73636: 381,
 73770: 382,
 74060: 383,
 74526: 384,
 75298: 385,
 75513: 386,
 75812: 387,
 75988: 388,
 76009: 389,
 76268: 390,
 76306: 391,
 76674: 392,
 76722: 393,
 76901: 394,
 76905: 395,
 76960: 396,
 77161: 397,
 77192: 398,
 77645: 399,
 77725: 400,
 77813: 401,
 77815: 402,
 77841: 403,
 77845: 404,
 78073: 405,
 78663: 406,
 78743: 407,
 78835: 408,
 78929: 409,
 79013: 410,
 79952: 411,
 80109: 412,
 80345: 413,
 80397: 414,
 80404: 415,
 80533: 416,
 80779: 417,
 81115: 418,
 81256: 419,
 81260: 420,
 81866: 421,
 81903: 422,
 82045: 423,
 82085: 424,
 82451: 425,
 82499: 426,
 82794: 427,
 82856: 428,
 83144: 429,
 83174: 430,
 83729: 431,
 83779: 432,
 84133: 433,
 84181: 434,
 84241: 435,
 84363: 436,
 84731: 437,
 84858: 438,
 84915: 439,
 84918: 440,
 84959: 441,
 85118: 442,
 85209: 443,
 85781: 444,
 85846: 445,
 85911: 446,
 86210: 447,
 86534: 448,
 86748: 449,
 86853: 450,
 87292: 451,
 87437: 452,
 87530: 453,
 87548: 454,
 87993: 455,
 88028: 456,
 88813: 457,
 88989: 458,
 89121: 459,
 89138: 460,
 89377: 461,
 89411: 462,
 89761: 463,
 89844: 464,
 89936: 465,
 90311: 466,
 90470: 467,
 91170: 468,
 91279: 469,
 91296: 470,
 91485: 471,
 91651: 472,
 91706: 473,
 91859: 474,
 92497: 475,
 92638: 476,
 92849: 477,
 92977: 478,
 93571: 479,
 93595: 480,
 93640: 481,
 93683: 482,
 93737: 483,
 93778: 484,
 93913: 485,
 94071: 486,
 94093: 487,
 94106: 488,
 94191: 489,
 94639: 490,
 94707: 491,
 94745: 492,
 94901: 493,
 95024: 494,
 95393: 495,
 95703: 496,
 95906: 497,
 96238: 498,
 97277: 499,
 97651: 500,
 99691: 501,
 99769: 502,
 99896: 503,
 100204: 504,
 100324: 505,
 100395: 506,
 100533: 507,
 100826: 508,
 101301: 509,
 102372: 510,
 102879: 511,
 103084: 512,
 103120: 513,
 103653: 514,
 104121: 515,
 105554: 516,
 105694: 517,
 105706: 518,
 105732: 519,
 106091: 520,
 106285: 521,
 106307: 522,
 107716: 523,
 107871: 524,
 108106: 525,
 108331: 526,
 108443: 527,
 109615: 528,
 110934: 529,
 111568: 530,
 111683: 531,
 112706: 532,
 112758: 533,
 113182: 534,
 113394: 535,
 113427: 536,
 113580: 537,
 113665: 538,
 113697: 539,
 113980: 540,
 114394: 541,
 114637: 542,
 114664: 543,
 115335: 544,
 115600: 545,
 116251: 546,
 116386: 547,
 117468: 548,
 117540: 549,
 117829: 550,
 117874: 551,
 119877: 552,
 120063: 553,
 120074: 554,
 121782: 555,
 122102: 556,
 122232: 557,
 122233: 558,
 122739: 559,
 122767: 560,
 124184: 561,
 124543: 562,
 124707: 563,
 124718: 564,
 124727: 565,
 125639: 566,
 125706: 567,
 126390: 568,
 126615: 569,
 126756: 570,
 127338: 571,
 128908: 572,
 128942: 573,
 129134: 574,
 129227: 575,
 129461: 576,
 129532: 577,
 129962: 578,
 130350: 579,
 130637: 580,
 130711: 581,
 130719: 582,
 130753: 583,
 130814: 584,
 131233: 585,
 131405: 586,
 132290: 587,
 132503: 588,
 132846: 589,
 133008: 590,
 133363: 591,
 134229: 592,
 134349: 593,
 134827: 594,
 135079: 595,
 135179: 596,
 135851: 597,
 136756: 598,
 136769: 599,
 136810: 600,
 137135: 601,
 137272: 602,
 137372: 603,
 137922: 604,
 138392: 605,
 139336: 606,
 140176: 607,
 140480: 608,
 140482: 609,
 140688: 610,
 141319: 611,
 141975: 612,
 143291: 613,
 143681: 614,
 143788: 615,
 143950: 616,
 144498: 617,
 144623: 618,
 144679: 619,
 144942: 620,
 145994: 621,
 146077: 622,
 146158: 623,
 146259: 624,
 146315: 625,
 146350: 626,
 146447: 627,
 146553: 628,
 146662: 629,
 147504: 630,
 147533: 631,
 147631: 632,
 147806: 633,
 147837: 634,
 147919: 635,
 148373: 636,
 148756: 637,
 149144: 638,
 149453: 639,
 150726: 640,
 151285: 641,
 151517: 642,
 151675: 643,
 152084: 644,
 152100: 645,
 152183: 646,
 152232: 647,
 152345: 648,
 152651: 649,
 153380: 650,
 153381: 651,
 154619: 652,
 154658: 653,
 154784: 654,
 155081: 655,
 155868: 656,
 156188: 657,
 156963: 658,
 157114: 659,
 157500: 660,
 157963: 661,
 158290: 662,
 158401: 663,
 158651: 664,
 158694: 665,
 158962: 666,
 159052: 667,
 159683: 668,
 159741: 669,
 160157: 670,
 160685: 671,
 161496: 672,
 161597: 673,
 161940: 674,
 162011: 675,
 162187: 676,
 162280: 677,
 162750: 678,
 163056: 679,
 163117: 680,
 163222: 681,
 163292: 682,
 164149: 683,
 164386: 684,
 164870: 685,
 164948: 686,
 165511: 687,
 165602: 688,
 166145: 689,
 166179: 690,
 166979: 691,
 167056: 692,
 167189: 693,
 167645: 694,
 167995: 695,
 169045: 696,
 169072: 697,
 169516: 698,
 169703: 699,
 170000: 700,
 170159: 701,
 170560: 702,
 170662: 703,
 170912: 704,
 171065: 705,
 171341: 706,
 172775: 707,
 172908: 708,
 173273: 709,
 174059: 710,
 175049: 711,
 176119: 712,
 176806: 713,
 176840: 714,
 178568: 715,
 178911: 716,
 179427: 717,
 181028: 718,
 181191: 719,
 181299: 720,
 182183: 721,
 182329: 722,
 182936: 723,
 183074: 724,
 183648: 725,
 183889: 726,
 184017: 727,
 184091: 728,
 184259: 729,
 185263: 730,
 185415: 731,
 185898: 732,
 186013: 733,
 186483: 734,
 187062: 735,
 187609: 736,
 187982: 737,
 188311: 738,
 188475: 739,
 188540: 740,
 188683: 741,
 188697: 742,
 189094: 743,
 189172: 744,
 189503: 745,
 189888: 746,
 190233: 747,
 190815: 748,
 191049: 749,
 191238: 750,
 191478: 751,
 192296: 752,
 192381: 753,
 193653: 754,
 193768: 755,
 194486: 756,
 194669: 757,
 194711: 758,
 194731: 759,
 195538: 760,
 196426: 761,
 196840: 762,
 196993: 763,
 197162: 764,
 197230: 765,
 197365: 766,
 197736: 767,
 197765: 768,
 198016: 769,
 198142: 770,
 198477: 771,
 198561: 772,
 198628: 773,
 198978: 774,
 199194: 775,
 199222: 776,
 199274: 777,
 199619: 778,
 199880: 779,
 200126: 780,
 201042: 781,
 201093: 782,
 201455: 783,
 201613: 784,
 201848: 785,
 201929: 786,
 202210: 787,
 202384: 788,
 202462: 789,
 202549: 790,
 202597: 791,
 202762: 792,
 202800: 793,
 202819: 794,
 203066: 795,
 203141: 796,
 203368: 797,
 203867: 798,
 203872: 799,
 203900: 800,
 204098: 801,
 204525: 802,
 204684: 803,
 204937: 804,
 205035: 805,
 205155: 806,
 205159: 807,
 205393: 808,
 205878: 809,
 205894: 810,
 205972: 811,
 206021: 812,
 206026: 813,
 206274: 814,
 206752: 815,
 207086: 816,
 208415: 817,
 208611: 818,
 208683: 819,
 208685: 820,
 208904: 821,
 208951: 822,
 209095: 823,
 209281: 824,
 209492: 825,
 209553: 826,
 209556: 827,
 209734: 828,
 209837: 829,
 210675: 830,
 211021: 831,
 211107: 832,
 211122: 833,
 211158: 834,
 211442: 835,
 211839: 836,
 212008: 837,
 212089: 838,
 212549: 839,
 212596: 840,
 212713: 841,
 213219: 842,
 213413: 843,
 213527: 844,
 214258: 845,
 214785: 846,
 215197: 847,
 215385: 848,
 215608: 849,
 215750: 850,
 215853: 851,
 215966: 852,
 215987: 853,
 216286: 854,
 216611: 855,
 216698: 856,
 216728: 857,
 216733: 858,
 218091: 859,
 218135: 860,
 218147: 861,
 218167: 862,
 218357: 863,
 218359: 864,
 218414: 865,
 218416: 866,
 218421: 867,
 218468: 868,
 218528: 869,
 218558: 870,
 218613: 871,
 218651: 872,
 218696: 873,
 218698: 874,
 218726: 875,
 218761: 876,
 218823: 877,
 218863: 878,
 218900: 879,
 218933: 880,
 218935: 881,
 218974: 882,
 219001: 883,
 219050: 884,
 219067: 885,
 219235: 886,
 219280: 887,
 219303: 888,
 219442: 889,
 219469: 890,
 219504: 891,
 219525: 892,
 219542: 893,
 219598: 894,
 219608: 895,
 219611: 896,
 219624: 897,
 219711: 898,
 219829: 899,
 219990: 900,
 220031: 901,
 220047: 902,
 220163: 903,
 220198: 904,
 220208: 905,
 220225: 906,
 220262: 907,
 220361: 908,
 220509: 909,
 220599: 910,
 220995: 911,
 221086: 912,
 221127: 913,
 221484: 914,
 221818: 915,
 221841: 916,
 222094: 917,
 222228: 918,
 222644: 919,
 222773: 920,
 222898: 921,
 223073: 922,
 223120: 923,
 223127: 924,
 223149: 925,
 223227: 926,
 223498: 927,
 223689: 928,
 223712: 929,
 223982: 930,
 224105: 931,
 224380: 932,
 224582: 933,
 224814: 934,
 224871: 935,
 224887: 936,
 225095: 937,
 225311: 938,
 225314: 939,
 225466: 940,
 225646: 941,
 225822: 942,
 226075: 943,
 226101: 944,
 226375: 945,
 226389: 946,
 226929: 947,
 227117: 948,
 227194: 949,
 227294: 950,
 227366: 951,
 227475: 952,
 227763: 953,
 227782: 954,
 227816: 955,
 227837: 956,
 228113: 957,
 228171: 958,
 228324: 959,
 228737: 960,
 228790: 961,
 228848: 962,
 228959: 963,
 229062: 964,
 229267: 965,
 229407: 966,
 229708: 967,
 230052: 968,
 230105: 969,
 230151: 970,
 230616: 971,
 230917: 972,
 231142: 973,
 231383: 974,
 231401: 975,
 231540: 976,
 231676: 977,
 231818: 978,
 231860: 979,
 232318: 980,
 232366: 981,
 232816: 982,
 233755: 983,
 233779: 984,
 234405: 985,
 235087: 986,
 235173: 987,
 235400: 988,
 235406: 989,
 235787: 990,
 235954: 991,
 236090: 992,
 236098: 993,
 236218: 994,
 236357: 995,
 237102: 996,
 237107: 997,
 237237: 998,
 237283: 999,
 ...}

In [181]:
for i in range(arr.shape[0]):
    arr[i][0] = userid_dict[arr[i][0]]
    for j in range(len(arr[i][2])):
        arr[i][2][j] = itemid_dict[arr[i][2][j]]

In [182]:
arr.shape

(301510, 4)

In [183]:
# just to show the ids in the array has been well transferred
arr[290000],arr[289999],arr[301509]

(array([8202, 13,
        list([240969, 77442, 211620, 127408, 123323, 179126, 102961]), 7],
       dtype=object), array([23883, 9,
        list([105421, 56423, 148012, 134753, 63413, 182728, 22356]), 7],
       dtype=object), array([3598, 19,
        list([83038, 6369, 9491, 66433, 5439, 100009, 120821, 72365, 71869, 71754, 27016, 28963, 6429, 76047, 92083, 42335, 18582, 59580, 19624, 13821, 19617, 19599, 19579, 23906, 32453, 32488, 13818, 22984, 84366, 89826, 74433, 89337, 34461, 23908, 8212, 78739, 33991, 38106, 59662, 56052, 41364, 41399, 42670, 12895, 840, 8665, 42835, 31477, 50180, 5889, 31914, 39275, 39757, 14164, 13204, 30124, 39727, 29105, 31612, 32991, 30302, 33210, 34833, 4615, 5363, 27658, 36436, 27373, 20615, 31024, 26031, 35419, 34044, 6479, 34920, 20844, 253, 20698, 15635, 12039, 2144, 33199, 7321, 29438, 23289, 15494, 3688, 8132, 29949, 15264, 9980, 26265, 22579, 29828, 11104, 25333, 12620, 19722, 24421, 26556, 18870, 25388, 25374, 12789, 1784, 871, 1942, 22, 7452, 3302, 4222, 13384, 11770, 13680, 8922, 8842, 11710, 11687]),
        118], dtype=object))

## Part D. Data Padding & Bucketing

In [184]:
Y_list = []
for i in range(arr.shape[0]):
    Y_list.append(arr[i][2][-1])
    arr[i][2] = arr[i][2][:-1]
Y_arr = np.array(Y_list)
Y_arr = Y_arr.reshape([len(Y_list),1])

arr = np.concatenate((arr,Y_arr),axis = 1)
arr.shape

(301510, 5)

In [185]:
arr

array([[41412, 10, list([173104]), 2, 71725],
       [15789, 12, list([30483]), 2, 47525],
       [15836, 11, list([137290]), 2, 222642],
       ...,
       [15674, 81,
        list([64875, 41470, 72963, 155930, 155929, 23866, 178027, 132586, 45540, 101390, 117510, 186224, 186220, 75573, 13750, 156151, 178888, 133475, 133458, 48554, 106244, 16989, 32394, 39622, 39636, 9109, 10993, 135735, 192033, 131231, 85667, 2439, 11278, 5911, 166402, 137449, 206760, 8913, 8332, 28293, 118388, 75388, 47511, 196557, 33867, 69290, 111624, 131067, 73116, 9922, 199715, 196874, 49500, 26598, 114987, 192440, 36723, 106062, 120979, 120978, 118260, 128972, 59091, 14280, 6995, 110927, 10249, 39531, 37189, 39609, 32011, 15579, 61062, 35185, 118184, 139715, 34890, 198867, 20759, 64579, 186190, 60805, 121032, 13754, 115083, 14278, 38807, 93310, 30398, 48257, 236712, 232028]),
        93, 20749],
       [15674, 92,
        list([64875, 41470, 72963, 155930, 155929, 23866, 178027, 132586, 45540, 101390, 117510, 186224, 186220, 75573, 13750, 156151, 178888, 133475, 133458, 48554, 106244, 16989, 32394, 39622, 39636, 9109, 10993, 135735, 192033, 131231, 85667, 2439, 11278, 5911, 166402, 137449, 206760, 8913, 8332, 28293, 118388, 75388, 47511, 196557, 33867, 69290, 111624, 131067, 73116, 9922, 199715, 196874, 49500, 26598, 114987, 192440, 36723, 106062, 120979, 120978, 118260, 128972, 59091, 14280, 6995, 110927, 10249, 39531, 37189, 39609, 32011, 15579, 61062, 35185, 118184, 139715, 34890, 198867, 20759, 64579, 186190, 60805, 121032, 13754, 115083, 14278, 38807, 93310, 30398, 48257, 236712, 232028]),
        93, 17093],
       [3598, 19,
        list([83038, 6369, 9491, 66433, 5439, 100009, 120821, 72365, 71869, 71754, 27016, 28963, 6429, 76047, 92083, 42335, 18582, 59580, 19624, 13821, 19617, 19599, 19579, 23906, 32453, 32488, 13818, 22984, 84366, 89826, 74433, 89337, 34461, 23908, 8212, 78739, 33991, 38106, 59662, 56052, 41364, 41399, 42670, 12895, 840, 8665, 42835, 31477, 50180, 5889, 31914, 39275, 39757, 14164, 13204, 30124, 39727, 29105, 31612, 32991, 30302, 33210, 34833, 4615, 5363, 27658, 36436, 27373, 20615, 31024, 26031, 35419, 34044, 6479, 34920, 20844, 253, 20698, 15635, 12039, 2144, 33199, 7321, 29438, 23289, 15494, 3688, 8132, 29949, 15264, 9980, 26265, 22579, 29828, 11104, 25333, 12620, 19722, 24421, 26556, 18870, 25388, 25374, 12789, 1784, 871, 1942, 22, 7452, 3302, 4222, 13384, 11770, 13680, 8922, 8842, 11710]),
        118, 11687]], dtype=object)

In [186]:
# we would directly process the numpy array that contains our data
# the numpy array has been processed with proper mapping
# we would replace the lists with a numpy array

buckets_list = [2,3,4,5,6,10,20,50,100]
# we deduct all elements in the buckets_list by 1, to fulfill the length of path without Y item
for i in range(len(buckets_list)):
    buckets_list[i] = buckets_list[i] - 1

In [187]:
def pad2buckets(buckets_list, in_arr):
    '''
    Input:
        1. buckets_list: a list of ints, indicating the step lengths of data we want to generate
        2. data_arr: the half-processed data array
    Output: 
        1. pro_arr: the processed array
    '''
    data_arr = in_arr
    # cursor labels the current max length of our training data
    cursor = 0
    for i in range(data_arr.shape[0]):
        # the fourth (index 3) column is the session length of the current user path
        if len(data_arr[i][2]) > buckets_list[-1]:
            break
        # move the cursor to the correct place, 
        # by right the max_length should be bigger or equal to the length of the current row of data
        while len(data_arr[i][2]) > buckets_list[cursor]:
            cursor = cursor + 1
        
        if len(data_arr[i][2]) == buckets_list[cursor]:
            data_arr[i][2] = np.array(data_arr[i][2])
        if len(data_arr[i][2]) < buckets_list[cursor]:
            # create a temp numpy array 
            #temp_path = np.array([0 for i in range(buckets_list[cursor])])
            for j in range(buckets_list[cursor]-len(data_arr[i][2])):
                # temp_path[j] = data_arr[i][2][j]
                data_arr[i][2].append(0)
            # data_arr[i][2] = temp_path
            data_arr[i][2] = np.array(data_arr[i][2])
            data_arr[i][3] = buckets_list[cursor] + 1
    print(i)       
    # now i is at the first row we want to abandon
    return data_arr[:i]

In [188]:
pro_arr = pad2buckets(buckets_list, arr)

301509

In [189]:
pro_df = pd.DataFrame(pro_arr)
pro_df.columns = ['userid', 'pathid', 'path', 'sess_length', 'Y']

In [190]:
pro_arr

array([[41412, 10, array([173104]), 2, 71725],
       [15789, 12, array([30483]), 2, 47525],
       [15836, 11, array([137290]), 2, 222642],
       ...,
       [15674, 91,
        array([ 64875,  41470,  72963, 155930, 155929,  23866, 178027, 132586,
        45540, 101390, 117510, 186224, 186220,  75573,  13750, 156151,
       178888, 133475, 133458,  48554, 106244,  16989,  32394,  39622,
        39636,   9109,  10993, 135735, 192033, 131231,  85667,   2439,
        11278,   5911, 166402, 137449, 206760,   8913,   8332,  28293,
       118388,  75388,  47511, 196557,  33867,  69290, 111624, 131067,
        73116,   9922, 199715, 196874,  49500,  26598, 114987, 192440,
        36723, 106062, 120979, 120978, 118260, 128972,  59091,  14280,
         6995, 110927,  10249,  39531,  37189,  39609,  32011,  15579,
        61062,  35185, 118184, 139715,  34890, 198867,  20759,  64579,
       186190,  60805, 121032,  13754, 115083,  14278,  38807,  93310,
        30398,  48257, 236712, 232028,      0,      0,      0,      0,
            0,      0,      0]),
        100, 8364],
       [15674, 81,
        array([ 64875,  41470,  72963, 155930, 155929,  23866, 178027, 132586,
        45540, 101390, 117510, 186224, 186220,  75573,  13750, 156151,
       178888, 133475, 133458,  48554, 106244,  16989,  32394,  39622,
        39636,   9109,  10993, 135735, 192033, 131231,  85667,   2439,
        11278,   5911, 166402, 137449, 206760,   8913,   8332,  28293,
       118388,  75388,  47511, 196557,  33867,  69290, 111624, 131067,
        73116,   9922, 199715, 196874,  49500,  26598, 114987, 192440,
        36723, 106062, 120979, 120978, 118260, 128972,  59091,  14280,
         6995, 110927,  10249,  39531,  37189,  39609,  32011,  15579,
        61062,  35185, 118184, 139715,  34890, 198867,  20759,  64579,
       186190,  60805, 121032,  13754, 115083,  14278,  38807,  93310,
        30398,  48257, 236712, 232028,      0,      0,      0,      0,
            0,      0,      0]),
        100, 20749],
       [15674, 92,
        array([ 64875,  41470,  72963, 155930, 155929,  23866, 178027, 132586,
        45540, 101390, 117510, 186224, 186220,  75573,  13750, 156151,
       178888, 133475, 133458,  48554, 106244,  16989,  32394,  39622,
        39636,   9109,  10993, 135735, 192033, 131231,  85667,   2439,
        11278,   5911, 166402, 137449, 206760,   8913,   8332,  28293,
       118388,  75388,  47511, 196557,  33867,  69290, 111624, 131067,
        73116,   9922, 199715, 196874,  49500,  26598, 114987, 192440,
        36723, 106062, 120979, 120978, 118260, 128972,  59091,  14280,
         6995, 110927,  10249,  39531,  37189,  39609,  32011,  15579,
        61062,  35185, 118184, 139715,  34890, 198867,  20759,  64579,
       186190,  60805, 121032,  13754, 115083,  14278,  38807,  93310,
        30398,  48257, 236712, 232028,      0,      0,      0,      0,
            0,      0,      0]),
        100, 17093]], dtype=object)

In [191]:
# derive the summary/slice table for the training data

summary = pro_df.groupby('sess_length').count()
summary = pd.DataFrame(summary.drop(columns=['pathid','path','Y']))
summary = summary.reset_index()
summary.columns = ['sess_length', 'count']

slice_table = summary
slice_table['start_index'] = slice_table['count']
slice_table['end_index'] = slice_table['count']
# here is the logic for create the start index + end index
for i in range(1, len(slice_table)):
    slice_table['end_index'][i] = slice_table['end_index'][i-1] + slice_table['count'][i]

for i in range(1, len(slice_table)):
    slice_table['start_index'][i] = slice_table['end_index'][i-1]

slice_table['start_index'][0] = 0

slice_table

   sess_length   count  start_index  end_index
0            2  202142            0     202142
1            3   50820       202142     252962
2            4   20257       252962     273219
3            5   10362       273219     283581
4            6    5402       283581     288983
5           10    8525       288983     297508
6           20    3174       297508     300682
7           50     727       300682     301409
8          100     100       301409     301509

### Save Essential Utilities

In [192]:
pro_data_fold = '/Users/yeqi.bai/Desktop/All in One/Recommender System Project/Session Model/Processed Data'

In [203]:
np.save(pro_data_fold+'/X_train.npy', pro_arr)

## Part E. Demo Data Generator

#### List of Utilities:
1. slice_table as df (can be generated at run time)
2. arr as numpy array: the source of training data

#### Desired Output:
1. Training item numpy array with selected session length
2. Training user numpy array
3. Training label Y

all the above are supposed to come with the same batch_size 

#### Remarks:
1. The probability of each session length to be selected as training data should be proportional to the amount of session with that length presented

#### About the GRU Model Placeholders:
1. y: label place holder: shape is num_item, generated by one hot encoding 
2. itemid (mapped): shape of (batch_size, )
3. userid (mapped): shape of (batch_size, )

#### Remarks:
1. Go check the loss function

In [194]:
pro_arr = np.load(pro_data_fold+'/X_train.npy')

In [202]:
pro_arr

array([[41412, 10, array([173104]), 2, 71725],
       [15789, 12, array([30483]), 2, 47525],
       [15836, 11, array([137290]), 2, 222642],
       ...,
       [15674, 91,
        array([ 64875,  41470,  72963, 155930, 155929,  23866, 178027, 132586,
        45540, 101390, 117510, 186224, 186220,  75573,  13750, 156151,
       178888, 133475, 133458,  48554, 106244,  16989,  32394,  39622,
        39636,   9109,  10993, 135735, 192033, 131231,  85667,   2439,
        11278,   5911, 166402, 137449, 206760,   8913,   8332,  28293,
       118388,  75388,  47511, 196557,  33867,  69290, 111624, 131067,
        73116,   9922, 199715, 196874,  49500,  26598, 114987, 192440,
        36723, 106062, 120979, 120978, 118260, 128972,  59091,  14280,
         6995, 110927,  10249,  39531,  37189,  39609,  32011,  15579,
        61062,  35185, 118184, 139715,  34890, 198867,  20759,  64579,
       186190,  60805, 121032,  13754, 115083,  14278,  38807,  93310,
        30398,  48257, 236712, 232028,      0,      0,      0,      0,
            0,      0,      0]),
        100, 8364],
       [15674, 81,
        array([ 64875,  41470,  72963, 155930, 155929,  23866, 178027, 132586,
        45540, 101390, 117510, 186224, 186220,  75573,  13750, 156151,
       178888, 133475, 133458,  48554, 106244,  16989,  32394,  39622,
        39636,   9109,  10993, 135735, 192033, 131231,  85667,   2439,
        11278,   5911, 166402, 137449, 206760,   8913,   8332,  28293,
       118388,  75388,  47511, 196557,  33867,  69290, 111624, 131067,
        73116,   9922, 199715, 196874,  49500,  26598, 114987, 192440,
        36723, 106062, 120979, 120978, 118260, 128972,  59091,  14280,
         6995, 110927,  10249,  39531,  37189,  39609,  32011,  15579,
        61062,  35185, 118184, 139715,  34890, 198867,  20759,  64579,
       186190,  60805, 121032,  13754, 115083,  14278,  38807,  93310,
        30398,  48257, 236712, 232028,      0,      0,      0,      0,
            0,      0,      0]),
        100, 20749],
       [15674, 92,
        array([ 64875,  41470,  72963, 155930, 155929,  23866, 178027, 132586,
        45540, 101390, 117510, 186224, 186220,  75573,  13750, 156151,
       178888, 133475, 133458,  48554, 106244,  16989,  32394,  39622,
        39636,   9109,  10993, 135735, 192033, 131231,  85667,   2439,
        11278,   5911, 166402, 137449, 206760,   8913,   8332,  28293,
       118388,  75388,  47511, 196557,  33867,  69290, 111624, 131067,
        73116,   9922, 199715, 196874,  49500,  26598, 114987, 192440,
        36723, 106062, 120979, 120978, 118260, 128972,  59091,  14280,
         6995, 110927,  10249,  39531,  37189,  39609,  32011,  15579,
        61062,  35185, 118184, 139715,  34890, 198867,  20759,  64579,
       186190,  60805, 121032,  13754, 115083,  14278,  38807,  93310,
        30398,  48257, 236712, 232028,      0,      0,      0,      0,
            0,      0,      0]),
        100, 17093]], dtype=object)

In [196]:
df = pd.DataFrame(pro_arr)

In [197]:
df.columns = ['userid', 'pathid', 'path', 'length', 'Y']
df.head()

  userid pathid      path length       Y
0  41412     10  [173104]      2   71725
1  15789     12   [30483]      2   47525
2  15836     11  [137290]      2  222642
3  16125     49  [123163]      2  228892
4  20620      2  [114322]      2  180484

In [198]:
df = pd.DataFrame(pro_arr)
df.columns = ['userid', 'pathid', 'path', 'length', 'Y']

print("Sample of training data: ")
print(df.head())

summary = df.groupby('length').count()
summary = pd.DataFrame(summary.drop(columns=['pathid','path']))
summary = summary.reset_index()
summary = summary.drop(['Y'],axis = 1)
summary.columns = ['length', 'count']

slice_table = summary
slice_table['start_index'] = slice_table['count']
slice_table['end_index'] = slice_table['count']
slice_table

# here is the logic for create the start index + end index
for i in range(1, len(slice_table)):
    slice_table['end_index'][i] = slice_table['end_index'][i-1] + slice_table['count'][i]

for i in range(1, len(slice_table)):
    slice_table['start_index'][i] = slice_table['end_index'][i-1]

slice_table['start_index'][0] = 0
print("Here is the slicing table of the data: ")
print(slice_table)

Sample of training data:
  userid pathid      path length       Y
0  41412     10  [173104]      2   71725
1  15789     12   [30483]      2   47525
2  15836     11  [137290]      2  222642
3  16125     49  [123163]      2  228892
4  20620      2  [114322]      2  180484
Here is the slicing table of the data:
   length   count  start_index  end_index
0       2  202142            0     202142
1       3   50820       202142     252962
2       4   20257       252962     273219
3       5   10362       273219     283581
4       6    5402       283581     288983
5      10    8525       288983     297508
6      20    3174       297508     300682
7      50     727       300682     301409
8     100     100       301409     301509

In [199]:
def analyze_data(pro_arr):
    '''
    Input:
        1. pro_arr as numpy array
    Output: 
        1. the slicing table of pro_arr
    '''
    df = pd.DataFrame(pro_arr)
    df.columns = ['userid', 'pathid', 'path', 'length', 'Y']

    print("Sample of training data: ")
    print(df.head())

    summary = df.groupby('length').count()
    summary = pd.DataFrame(summary.drop(columns=['pathid','path']))
    summary = summary.reset_index()
    summary = summary.drop(['Y'],axis = 1)
    summary.columns = ['length', 'count']

    slice_table = summary
    slice_table['start_index'] = slice_table['count']
    slice_table['end_index'] = slice_table['count']
    slice_table

    # here is the logic for create the start index + end index
    for i in range(1, len(slice_table)):
        slice_table['end_index'][i] = slice_table['end_index'][i-1] + slice_table['count'][i]

    for i in range(1, len(slice_table)):
        slice_table['start_index'][i] = slice_table['end_index'][i-1]

    slice_table['start_index'][0] = 0
    print("Here is the slicing table of the data: ")
    print(slice_table)
    
    return slice_table

In [200]:
# slice_table['end_index'][len(slice_table)-1]
m = pro_arr.shape[0]
np.random.randint(0,m)

15017

In [201]:
def next_batch(batch_size, pro_arr, slice_table):
    '''
    Input:
        1. batch_size as integer
        2. pro_arr as numpy array, with columns: 
            [0] userid as integer
            [1] pathid as integer
            [2] path as numpy array containing itemids as integers
            [3] session_length as integer = length_input + length_output = length_input + 1
            [4] label (output itemid) as integer
    Output:
        1. next_batch_userids as numpy array, with size: [batch_size, ] or [batch_size, num_time_step]
        2. next_batch_itemids as numpy array, with size: [batch_size, num_time_step]
        3. next_batch_y as numpy array, with size: [batch_size, ]
    '''
    # first step: use probability to random select a session length to generate the next batch
    m = pro_arr.shape[0]
    rand = np.random.randint(0,m)
    length = 0
    start_index = 0
    end_index = 0
    for i in range(len(slice_table)):
        if rand >= slice_table['start_index'][i] and rand < slice_table['end_index'][i]:
            length = slice_table['length'][i]
            start_index = slice_table['start_index'][i]
            end_index = slice_table['end_index'][i]
            break
    print("generating next batch with session length t_step =", length)
    next_batchids = np.random.randint(start_index, end_index, batch_size)
    next_batch_userids = pro_arr[next_batchids][:,0]
    next_batch_itemids = np.array(pro_arr[next_batchids][:,2].tolist())
    next_batch_y = pro_arr[next_batchids][:,-1]
    
    return next_batch_userids, next_batch_itemids, next_batch_y

In [204]:
pro_arr.shape

(301509, 5)

In [ ]:
# step 1: decide a length for the session
# we are going to take session length <= 18